body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0 0 20px 0;
    background-color: #333;
}
header {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    height: 1080px;
    margin: 0 auto 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-around;
}

.menu {
    position: sticky;
    top: 0px;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #525151;
}

.menu > ul {
    list-style: none;
    padding: 0;
}

.menu > ul > li {
    display: inline;
    margin-right: 20px;
}

.menu > ul > li:last-child {
    margin-right: 0;
}

a:hover, a:active{
    background-color: #444;
}

.menu > ul > li > a {
    text-decoration: none;
    color: #039BE5;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}



article {
    max-width: 800px;
    margin: 0 auto 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 30px;
    font-variant: small-caps;
    color: #444;
    text-indent: 5px;
    border-left: 5px solid #333;
    padding-bottom: 5px;
}

p {
    text-align: justify;
    color: #333;
}

ol {
    margin-left: 20px;
    color: #333;
}

li {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}